[submodule ".agents/plugins/ex"]
	path = .agents/plugins/ex
	url = git@gitlab.i.extrahop.com:michaelco/claude-ex.git
[submodule ".agents/projects/depot"]
	path = .agents/projects/depot
	url = git@gitlab.i.extrahop.com:michaelco/depot-agents.git
